<div><h1 align="center">欢迎发布新菜谱，先介绍一下你的大作！</h1></div>
<div class="control-group">
    <label class="control-label" for="DishName">Your Dish Name</label>
    <div class="controls">
        <input type="text" class="input-xlarge" id="dishname" name="dishname">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="password">Attribute</label>
    <div class="controls">
        <input type="text" class="input-xlarge" id="password" name="password">
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="password">Picture</label>
    <div class="controls">
        <input type="text" class="input-xlarge" id="password" name="password">
    </div>
</div>