<div>
    <p>
    <a class="btn btn-parimary btn-large" href="/update_user_info">Change My Info</a>
    </p>
</div>
<div>
    <p>
    <a class="btn btn-parimary btn-large" href="/my_status">My Status</a>
    </p>
</div>



