<form class="form-horizontal" method="post">
    <fieldset>
        <legend>Update Your Information</legend>
        <div class="control-group">
            <label class="control-label" for="nickname">Nickname</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="nickname" name="nickname">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="hometown">Hometown</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="hometown" name="hometown">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Address">Address</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="address" name="address">
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>